body {
    background-color: rgb(16, 238, 103, 0.2);
}
.header {
    background-color: rgb(16, 238, 103, 0.9);
    font-size: larger;
    padding: 0.5vw;
    
}
.header h2{
    text-align: center;
}
.content {
    background-color: rgb(16, 238, 103, 0.3);
    display: block;
    margin-top: 0%;
    padding-bottom: 1vw;
    width: 100%;
    text-align: center;
}
h3 + p {
    padding: 0vw 0.3vw;
}
.boundary {
    background-color: rgb(16, 238, 103, 0.3)black;
    display: flex;
    justify-content: center;
    padding: 1vw 0vw;
}
.margin {
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 3vw 1vw 1vw 1vw;
}
.footer {
    text-align: center;
    padding: 1vw;
}

/*Maim*/

/*Display Box*/
.displaybox {
    padding: 0vw 1vw;
}
.display {
    background-color: white;
    height: 5vw;
    border: 2px solid blue;
    margin-bottom: 1vw;
    text-align: right;
    font-size: 3vw;
}
.grid {
    display: grid;
    grid-template-columns: 70% 30%;
}
.numerics {
    display: grid;
    grid-template-columns: auto auto auto;
    height: max-content;
}
.numericItems {
    text-align: center;
    font-size: 2vw;
    background-color: #EEEEEE;
    margin: 5px;
    cursor: pointer;
    padding: 1.5vw;
}
.operations{
    padding: 1vw;
    cursor: pointer;
}
h4 {
    margin-top: -1vw;
    text-align: center;
}
.operationItems {
    background-color: #D1D1D1;
    text-align: center;
    padding: 0.8vw;
    font-size: 2vw;
    margin: 5px;
}
.equal {
    background-color: rgb(0, 0, 255, 0.8);
    color: white;
}

/*Hovers*/
.numericItems:hover {
    background-color: rgb(237, 237, 237, 0.4);
}
.equal:hover {
    background-color: rgb(0, 0, 255, 0.5);
}
.operationItems:hover {
    background-color: rgb(237, 237, 237, 0.4);
}
